@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  height: c.$grid * 10;
  min-width: c.$grid * 40;
  padding: 0 c.$grid * 5 c.$grid c.$grid * 5;
  border: none;
  border-bottom: 1px solid;
  border-color: c.$colorNeutralLight;
  color: c.$colorText;
  background-color: transparent;
  cursor: pointer;

  // for <a> element
  text-decoration: none;

  @include c.typographyH3;
  @include h.overflowEllipsis;

  .icon {
    margin-right: c.$grid * 2;
  }

  &.selected {
    color: c.$colorPrimary;
    border-radius: 0;
    border-color: c.$colorPrimary;
    box-shadow: inset 0 -4px 0 0 c.$colorPrimary;
  }

  &.selected:focus-visible {
    border-color: c.$colorPrimary;
    border-bottom-width: c.$grid;
    padding-bottom: 0;
  }

  &.fullWidth {
    flex: 1 1 auto;
  }

  &:hover {
    color: c.$colorPrimary;
  }

  &:focus-visible {
    // Do not remove outline for high-contrast modes
    // https://stackoverflow.com/a/52616313
    outline: c.$outlineWidth solid transparent;
    color: c.$colorPrimary;
    border-radius: c.$borderRadius;
    border-color: transparent;

    @include h.outlineSimple;
  }
}
