// https://zeroheight.com/11d0e6dac/p/594529--colors
$colorPrimaryLight: #2d7de4 !default;
$colorPrimary: #2160c0 !default;
$colorPrimaryDark: #003b87 !default;

$colorNeutralWhite: #fff !default;
$colorNeutralLighter: #fafafa !default;
$colorNeutralLight: #b7c1cb !default;
$colorNeutral: #dbdbdb !default;

$colorSuccessLight: #68c200 !default;
$colorSuccess: #008a00 !default;
$colorSuccessDark: #005c09 !default;

$colorInfoLight: #cbdbff !default;
$colorInfo: #87a7ee !default;
$colorInfoDark: #4a71c4 !default;

$colorWarningLight: #f9b721 !default;
$colorWarning: #f47027 !default;
$colorWarningDark: #ad6200 !default;

$colorError: #b00020 !default;

$colorText: #041a3b !default;
$colorTextSecondary: #707482 !default;

$colorAccessibilityOutline: #9648bd !default;

$sliderThumbShadowColor: rgba(53, 61, 73, 0.5);
