@use 'sass:color';

// https://zeroheight.com/11d0e6dac/p/594529--colors
$colorPrimaryLight: #2d7de4 !default;
$colorPrimary: #2160c0 !default;
$colorPrimaryDark: #003b87 !default;
$colorNeutralWhite: #fff !default;
$colorNeutralLighter: #fafafa !default;
$colorNeutralLight: #b7c1cb !default;
$colorNeutral: #dbdbdb !default;
$colorSuccess: #85da66 !default;
$colorSuccessLight: #d5f0d1 !default;
$colorSuccessDark: color.adjust($colorSuccess, $lightness: -10%) !default;
$colorInfo: #76e7e7 !default;
$colorInfoLight: #d0f4f8 !default;
$colorInfoDark: color.adjust($colorInfo, $lightness: -10%) !default;
$colorWarning: #ffec44 !default;
$colorWarningLight: #f9f6c7 !default;
$colorWarningDark: color.adjust($colorWarning, $lightness: -15%) !default;
$colorError: #dc084b !default;
$colorErrorLight: #efb1c9 !default;
$colorErrorDark: color.adjust($colorError, $lightness: -10%) !default;
$colorText: #061827 !default;
$colorTextSecondary: #707482 !default;
$colorTextSubdued: #69707d !default;
$brandColorText: #10a4b3 !default;
$colorOverlayBackground: #f0f6ff !default;
$colorAccessibilityOutline: #74f !default;
$colorBrand: #00bac6 !default;
$colorShadow: rgb(53 61 73 / 20%) !default;
$colorMenuDark: #333 !default;
$brandPrimary: #c6ff3a !default;
$authPrimary: $brandPrimary !default;
$authSecondary: #0b2b39 !default;
$brandSecondary: #061727 !default;
$brandAccent: #122d45 !default;
