// https://zeroheight.com/11d0e6dac/p/470b57--layout/t/766c51
// Spacing is based on a 4-pixel grid
// 1em is 16px by default
// Any spacing should be expressed as a multiplier if $grid

$grid: 0.25rem !default;

$borderRadius: $grid * 1.25 !default;

$borderRadiusToast: 37px !default;

// It does not make sense to express separator width in REMs since we do not need it to scale with the base font size
$separatorWidth: 1px !default;

$borderWidth: 1px !default;
$borderWidthButton: 2px !default;

$outlineWidth: 2px !default;

$iconStrokeWidth: 2px !default;

$iconSize: $grid * 4 !default;

$tooltipMaxWidth: 550px !default;

$buttonMaxWidth: 300px !default;

$toastMaxWidth: 580px !default;
