// https://zeroheight.com/11d0e6dac/p/470b57--layout/t/766c51
// Spacing is based on a 4-pixel grid
// 1em is 16px by default
// Any spacing should be expressed as a multiplier if $grid

$grid: 0.25rem !default;

$alertWidth: 350px !default;

$borderRadius: $grid * 1.25 !default;
$borderRadiusButtonSmall: $grid * 5 !default;

$borderRadiusToast: 37px !default;

$borderRadiusBadge: 37px !default;

$borderRadiusTimeField: 3px !default;

// It does not make sense to express separator width in REMs since we do not need it to scale with the base font size
$separatorWidth: 1px !default;

$borderWidth: 1px !default;
$borderWidthButton: 1px !default;

$outlineWidth: 2px !default;

$iconStrokeWidth: 1.5px !default;
$iconStrokeWidthBold: 3px !default;

$iconSizeSmall: $grid * 4 !default;
$iconSizeSmallMedium: $grid * 5 !default;
$iconSizeMedium: $grid * 6 !default;
$iconSizeLarge: $grid * 10 !default;
$iconSizeXLarge: $grid * 12 !default;

$tooltipArrowSize: 6px !default;

$tooltipMaxWidth: 550px !default;

$buttonMaxWidth: 370px !default;

$toastMaxWidth: 580px !default;

$inputHeight: $grid * 10 !default;
$inputHeightSmall: $grid * 7.5 !default;

$cardShadowSize: 1px !default;
$cardShadowBlur: 4px !default;

$selectMenuShadowSize: 1px !default;
$selectMenuShadowBlur: 4px !default;

//Overlay
$overlayContentMaxWidth: 1000px;

// Modal
$modalWidth: 75%;
$modalMinWidth: 480px !default;
$modalMaxWidth: 960px !default;
$modalMaxHeight: 75%;

// Dialog
$dialogWidth: 400px !default;
$dialogMinHeight: 200px !default;

// border radius on left/right size of the progress tracker
$sliderTrackBorderRadius: $grid * 2;
// height of the track
$slideTrackHeight: $grid * 2;
$sliderThumbBorderSize: $grid * 1.5; // in rem
$sliderThumbHoverBorderSize: 1px;

$sliderThumbShadowSize: 1px;
$sliderThumbShadowBlur: $grid;
$sliderFillBorderSize: 1px;

$emptyStateMaxWidth: 960px !important;
$emptyStateButtonMinWidthNormal: 120px !default;
$emptyStateButtonMinWidthLarge: 140px !default;

$borderRadiusNotification: 3px;

// Table column widths
$tableColumnMinWidth: 60;
$tableColumnWidth: 170;
$tableColumnMaxWidth: 600;
