// https://zeroheight.com/11d0e6dac/p/470b57--layout/t/766c51
// Spacing is based on a 4-pixel grid
// 1em is 16px by default
// Any spacing should be expressed as a multiplier if $grid

$grid: 0.25rem !default;

$alertWidth: 350px !default;

$borderRadius: $grid * 1.25 !default;

$borderRadiusToast: 37px !default;

$borderRadiusBadge: 37px !default;

// It does not make sense to express separator width in REMs since we do not need it to scale with the base font size
$separatorWidth: 1px !default;

$borderWidth: 1px !default;
$borderWidthButton: 2px !default;

$outlineWidth: 2px !default;

$iconStrokeWidth: 2px !default;

$iconSizeSmall: $grid * 4 !default;
$iconSizeNormal: $grid * 6 !default;
$iconSizeXLarge: $grid * 12 !default;

$tooltipArrowSize: 6px !default;

$tooltipMaxWidth: 550px !default;

$buttonMaxWidth: 370px !default;

$toastMaxWidth: 580px !default;

$inputHeight: $grid * 10 !default;

$cardShadowSize: 1px !default;
$cardShadowBlur: 4px !default;

$selectMenuShadowSize: 1px !default;
$selectMenuShadowBlur: 4px !default;

/* doiuse-disable calc */
$modalWidth: calc(100% - #{$grid} * 10);
$modalMaxWidth: 960px !default;
$modalMaxHeight: calc(100% - #{$grid} * 10);
/* doiuse-enable calc */

// border radius on left/right size of the progress tracker
$sliderTrackBorderRadius: $grid * 2;
// height of the track
$slideTrackHeight: $grid * 2;
$sliderThumbBorderSize: $grid * 1.5; // in rem
$sliderThumbHoverBorderSize: 1px;

$sliderThumbShadowSize: 1px;
$sliderThumbShadowBlur: $grid;
$sliderFillBorderSize: 1px;
