$fontFamilyHeading: "Roboto", "Helvetica", "Arial", sans-serif !default;
$fontWeightHeadingLight: 300 !default;
$fontWeightHeadingRegular: 400 !default;
$fontWeightHeadingBold: 500 !default;
$fontFamilyText: "Roboto", "Helvetica", "Arial", sans-serif !default;
$fontWeightTextLight: 300 !default;
$fontWeightTextRegular: 400 !default;
$fontWeightTextBold: 500 !default;

// https://www.figma.com/file/8mVm6LTbp2Z0RaWWjTZoft/%F0%9F%90%9DHIVE?node-id=0%3A136
$fontSizeH1: 2rem !default;
$fontSizeH2: 1.625rem !default;
$fontSizeH3: 1.25rem !default;
$fontSizeButton: 1.125rem !default;
$fontSizeButtonSmall: 0.875rem !default;
$fontSizeBodyNormal: 1rem !default;
$fontSizeBodySmall: 0.875rem !default;
$fontSizeBodySmaller: 0.75rem !default;
$fontSizeBodyTiny: 0.625rem !default;
$letterSpacingH1: 0.25px !default;
$letterSpacingH2: 0 !default;
$letterSpacingH3: 0.15px !default;
$letterSpacingButton: 1.25px !default;
$letterSpacingButtonSmall: 0.25px !default;
$letterSpacingBodyNormal: 0.5px !default;
$letterSpacingBodySmall: 0.25px !default;
$letterSpacingBodySmaller: normal !default;
$letterSpacingBodyTiny: normal !default;
$lineHeightH1: normal !default;
$lineHeightH2: normal !default;
$lineHeightH3: normal !default;
$lineHeightButton: normal !default;
$lineHeightBodyNormal: 1.4 !default;
$lineHeightBodySmall: normal !default;
$lineHeightBodySmaller: normal !default;
$lineHeightBodyTiny: normal !default;

@function override($override: false) {
  @if $override {
    @return "!important";
  }

  @return "";
}

@mixin typographyH1($override: false) {
  font-family: $fontFamilyHeading #{override($override)};
  font-weight: $fontWeightHeadingBold #{override($override)};
  font-size: $fontSizeH1 #{override($override)};
  letter-spacing: $letterSpacingH1 #{override($override)};
  line-height: $lineHeightH1 #{override($override)};
}

@mixin typographyH2($override: false) {
  font-family: $fontFamilyHeading #{override($override)};
  font-weight: $fontWeightHeadingBold #{override($override)};
  font-size: $fontSizeH2 #{override($override)};
  letter-spacing: $letterSpacingH2 #{override($override)};
  line-height: $lineHeightH2 #{override($override)};
}

@mixin typographyH3($override: false) {
  font-family: $fontFamilyHeading #{override($override)};
  font-weight: $fontWeightHeadingBold #{override($override)};
  font-size: $fontSizeH3 #{override($override)};
  letter-spacing: $letterSpacingH3 #{override($override)};
  line-height: $lineHeightH3 #{override($override)};
}

@mixin typographyButton($size: "medium") {
  font-family: $fontFamilyText;
  line-height: $lineHeightButton;

  @if $size == "medium" {
    font-weight: $fontWeightTextRegular;
    font-size: $fontSizeButton;
    letter-spacing: $letterSpacingButton;
  }

  @if $size == "small" {
    font-weight: $fontWeightTextRegular;
    font-size: $fontSizeButtonSmall;
    letter-spacing: $letterSpacingButtonSmall;
  }
}

@mixin typographyBodyWeight($weight: "regular") {
  @if $weight == "regular" {
    font-weight: $fontWeightTextRegular;
  }

  @if $weight == "bold" {
    font-weight: $fontWeightTextBold;
  }

  @if $weight == "light" {
    font-weight: $fontWeightTextLight;
  }
}

@mixin typographyBodyNormal($weight: "regular") {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodyNormal;
  letter-spacing: $letterSpacingBodyNormal;
  line-height: $lineHeightBodyNormal;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodySmall($weight: "regular") {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodySmall;
  letter-spacing: $letterSpacingBodySmall;
  line-height: $lineHeightBodySmall;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodySmaller($weight: "regular") {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodySmaller;
  letter-spacing: $letterSpacingBodySmaller;
  line-height: $lineHeightBodySmaller;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodyTiny($weight: "regular") {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodyTiny;
  letter-spacing: $letterSpacingBodyTiny;
  line-height: $lineHeightBodyTiny;

  @include typographyBodyWeight($weight);
}

@mixin typographyGlobal($override: false) {
  @include typographyBodyNormal;

  h1 {
    @include typographyH1($override);
  }

  h2 {
    @include typographyH2($override);
  }

  h3 {
    @include typographyH3($override);
  }
}
