// @todo: remove 'Roboto' after we release New Brand. It's only for backward compatibility here
$fontFamilyHeading: 'Roboto', 'PP Telegraf', 'Helvetica', 'Arial', sans-serif !default;
$fontWeightHeadingRegular: 400 !default;
$fontWeightHeadingBold: 500 !default;
$fontFamilyText: 'Open Sans', 'Helvetica', 'Arial', sans-serif !default;
$fontWeightTextRegular: 400 !default;
$fontWeightTextBold: 600 !default;

// https://www.figma.com/file/8mVm6LTbp2Z0RaWWjTZoft/%F0%9F%90%9DHIVE?node-id=0%3A136
$fontSizeH1Hero: 2.875rem !default; // 46px
$fontSizeH1: 2.125rem !default; // 34px
$fontSizeH2: 1.625rem !default; // 26px
$fontSizeH3: 1.25rem !default; // 20px
$fontSizeButton: 1.125rem !default;
$fontSizeButtonSmall: 0.875rem !default;
$fontSizeBodyNormal: 1rem !default;
$fontSizeBodySmall: 0.875rem !default;
$fontSizeBodySmaller: 0.75rem !default;
$fontSizeBodyTiny: 0.625rem !default;
$letterSpacingH1Hero: 0.25px !default;
$letterSpacingH1: 0.25px !default;
$letterSpacingH2: 0.25px !default;
$letterSpacingH3: 0.25px !default;
$letterSpacingButton: 1.25px !default;
$letterSpacingButtonSmall: 0.25px !default;
$letterSpacingBodyNormal: 0.25px !default;
$letterSpacingBodySmall: 0.5px !default;
$letterSpacingBodySmaller: normal !default;
$letterSpacingBodyTiny: normal !default;
$lineHeightH1Hero: normal !default;
$lineHeightH1: normal !default;
$lineHeightH2: normal !default;
$lineHeightH3: normal !default;
$lineHeightButton: normal !default;
$lineHeightBodyNormal: 1.4 !default;
$lineHeightBodySmall: normal !default;
$lineHeightBodySmaller: normal !default;
$lineHeightBodyTiny: normal !default;

@function override($override: false) {
  @if $override {
    @return '!important';
  }

  @return '';
}

@mixin typographyH1Hero($override: false) {
  font-weight: $fontWeightHeadingRegular #{override($override)};
  font-size: $fontSizeH4 #{override($override)};
  letter-spacing: $letterSpacingH4 #{override($override)};
  line-height: $lineHeightH4 #{override($override)};
}

@mixin typographyH1($override: false) {
  font-weight: $fontWeightHeadingRegular #{override($override)};
  font-size: $fontSizeH1 #{override($override)};
  letter-spacing: $letterSpacingH1 #{override($override)};
  line-height: $lineHeightH1 #{override($override)};
}

@mixin typographyH2($override: false) {
  font-weight: $fontWeightHeadingRegular #{override($override)};
  font-size: $fontSizeH2 #{override($override)};
  letter-spacing: $letterSpacingH2 #{override($override)};
  line-height: $lineHeightH2 #{override($override)};
}

@mixin typographyH3($override: false) {
  font-weight: $fontWeightHeadingRegular #{override($override)};
  font-size: $fontSizeH3 #{override($override)};
  letter-spacing: $letterSpacingH3 #{override($override)};
  line-height: $lineHeightH3 #{override($override)};
}

@mixin typographyButton($size: 'medium') {
  font-family: $fontFamilyText;
  line-height: $lineHeightButton;

  @if $size == 'medium' {
    font-weight: $fontWeightTextRegular;
    font-size: $fontSizeButton;
    letter-spacing: $letterSpacingButton;
  }

  @if $size == 'small' {
    font-weight: $fontWeightTextRegular;
    font-size: $fontSizeButtonSmall;
    letter-spacing: $letterSpacingButtonSmall;
  }
}

@mixin typographyBodyWeight($weight: 'regular') {
  @if $weight == 'regular' {
    font-weight: $fontWeightTextRegular;
  }

  @if $weight == 'bold' {
    font-weight: $fontWeightTextBold;
  }
}

@mixin typographyBodyNormal($weight: 'regular') {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodyNormal;
  letter-spacing: $letterSpacingBodyNormal;
  line-height: $lineHeightBodyNormal;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodySmall($weight: 'regular') {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodySmall;
  letter-spacing: $letterSpacingBodySmall;
  line-height: $lineHeightBodySmall;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodySmaller($weight: 'regular') {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodySmaller;
  letter-spacing: $letterSpacingBodySmaller;
  line-height: $lineHeightBodySmaller;

  @include typographyBodyWeight($weight);
}

@mixin typographyBodyTiny($weight: 'regular') {
  font-family: $fontFamilyText;
  font-size: $fontSizeBodyTiny;
  letter-spacing: $letterSpacingBodyTiny;
  line-height: $lineHeightBodyTiny;

  @include typographyBodyWeight($weight);
}

@mixin typographyGlobal($override: false) {
  @include typographyBodyNormal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontFamilyHeading;
  }

  h1 {
    @include typographyH1($override);
  }

  h2 {
    @include typographyH2($override);
  }

  h3 {
    @include typographyH3($override);
  }
}
