@use './colors';

$fontWeightLight: 300 !default;
$fontWeightRegular: 400 !default;
$fontWeightMedium: 500 !default;

$fontFamily: 'Roboto' !default;

// https://www.figma.com/file/8mVm6LTbp2Z0RaWWjTZoft/%F0%9F%90%9DHIVE?node-id=0%3A136
$fontSizeH1: 2rem !default;
$fontSizeH2: 1.625rem !default;
$fontSizeH3: 1.25rem !default;
$fontSizeButton: 1.125rem !default;
$fontSizeBodyNormal: 1rem !default;
$fontSizeBodySmall: 0.875rem !default;

$letterSpacingH1: 0.25px !default;
$letterSpacingH2: 0 !default;
$letterSpacingH3: 0.15px !default;
$letterSpacingButton: 1.25px !default;
$letterSpacingBodyNormal: 0.5px !default;
$letterSpacingBodySmall: 0.25px !default;

$lineHeightH1: auto !default;
$lineHeightH2: auto !default;
$lineHeightH3: auto !default;
$lineHeightButton: auto !default;
$lineHeightBodyNormal: 1.4 !default;
$lineHeightBodySmall: auto !default;

@mixin typographyDefaultFont {
  font-family: $fontFamily, sans-serif;
  font-weight: $fontWeightRegular;
}
@mixin typographyH1 {
  font-size: $fontSizeH1;
  letter-spacing: $letterSpacingH1;
  line-height: $lineHeightH1;
}
@mixin typographyH2 {
  font-size: $fontSizeH2;
  letter-spacing: $letterSpacingH2;
  line-height: $lineHeightH2;
}
@mixin typographyH3 {
  font-size: $fontSizeH3;
  letter-spacing: $letterSpacingH3;
  line-height: $lineHeightH3;
}
@mixin typographyButton {
  font-size: $fontSizeButton;
  letter-spacing: $letterSpacingButton;
  line-height: $lineHeightButton;
}
@mixin typographyBodyNormal {
  font-size: $fontSizeBodyNormal;
  letter-spacing: $letterSpacingBodyNormal;
  line-height: $lineHeightBodyNormal;
}
@mixin typographyBodySmall {
  font-size: $fontSizeBodySmall;
  letter-spacing: $letterSpacingBodySmall;
  line-height: $lineHeightBodySmall;
}
