// https://zeroheight.com/11d0e6dac/p/594529--colors
$colorBlack: #000;

$colorPrimaryLight: #1673e3;
$colorPrimary: #2160c0;
$colorPrimaryDark: #0c47a3;

$colorNeutralWhite: #fff;
$colorNeutralLighter: #fafafa;
$colorNeutralLight: #b7c1cb;
$colorNeutral: #dbdbdb;

$colorSuccess: #008a00;

$colorInfo: #cbdbff;
$colorInfoDark: #4a71c4;

$colorWarning: #ffc171;
$colorWarningDark: #c67000;

$colorError: #bd271e;

$colorText: #071b2c;
$colorTextSecondary: #737373;

$colorAccessibilityOutline: #9953df;

:export {
  colorBlack: $colorBlack;
  colorPrimaryLight: $colorPrimaryLight;
  colorPrimary: $colorPrimary;
  colorPrimaryDark: $colorPrimaryDark;
  colorNeutralWhite: $colorNeutralWhite;
  colorNeutralLighter: $colorNeutralLighter;
  colorNeutralLight: $colorNeutralLight;
  colorNeutral: $colorNeutral;
  colorSuccess: $colorSuccess;
  colorInfo: $colorInfo;
  colorInfoDark: $colorInfoDark;
  colorWarning: $colorWarning;
  colorWarningDark: $colorWarningDark;
  colorError: $colorError;
  colorText: $colorText;
  colorTextSecondary: $colorTextSecondary;
  colorAccessibilityOutline: $colorAccessibilityOutline;
}
