$screenMinWidth: 1280px;

// https://zeroheight.com/11d0e6dac/p/470b57--layout/t/766c51
// Spacing is based on a 4-pixel grid
// 1em is 16px by default
// Any spacing should be expressed as a multiplier if $grid

$grid: 0.25rem;

$borderRadius: $grid * 1.25;

// It does not make sense to express separator width in REMs since we do not need it to scale with the base font size
$separatorWidth: 1px;

$borderWidth: 1px;
$borderWidthButton: 2px;

$outlineWidth: 2px;

$iconStrokeWidth: 2px;

$iconSize: $grid * 4;

$tooltipMaxWidth: 550px;

$buttonMaxWidth: 300px;
$checkboxSize: 16px;

// TODO: Automate
:export {
  screenMinWidth: $screenMinWidth;
  grid: $grid;
  borderRadius: $borderRadius;
  separatorWidth: $separatorWidth;
  borderWidth: $borderWidth;
  outlineWidth: $outlineWidth;
  iconStrokeWidth: $iconStrokeWidth;
  iconSize: $iconSize;
  tooltipMaxWidth: $tooltipMaxWidth;
  checkboxSize: $checkboxSize;
}
