@use '../../../../styles/constants' as c;

.root {
  display: flex;
  align-items: center;
}

.separator {
  border-left: 1px solid c.$colorNeutralLight;
}

.content {
  padding: c.$grid * 2;
  color: c.$colorNeutralLighter;
  background: c.$colorBrandSecondary;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: c.$grid * 2;
}
