@use '../../styles/constants' as c;

td.cell {
  display: table-cell;
  padding-top: c.$grid * 2.5;
  padding-bottom: c.$grid * 2.5;
  padding-right: c.$grid * 3;
  padding-left: c.$grid * 3;
  border-bottom: c.$borderWidth solid c.$colorNeutralWhite;
  border-right: c.$borderWidth solid c.$colorNeutralWhite;

  .content {
    display: flex;
    align-items: center;
    color: c.$colorText;
    @include c.typographyBodySmall;

    &.alignLeft {
      justify-content: flex-start;
    }

    &.alignRight {
      justify-content: flex-end;
    }

    &.alignCenter {
      justify-content: center;
    }
  }
}

.warningIcon {
  color: c.$colorWarningLight;

  &.left {
    margin-left: c.$grid * 2;
  }

  &.right {
    margin-right: c.$grid * 2;
  }
}
