@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.container {
  position: relative;
  background-color: c.$colorNeutralLighter;

  :last-child {
    border-right: 0;
  }

  .th {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: c.$grid * 2.5;
    padding-bottom: c.$grid * 2.5;
    padding-left: c.$grid * 3;
    padding-right: c.$grid * 3;
    color: c.$colorTextSecondary;
    @include c.typographyBodySmall;

    .sortingIcon {
      flex-shrink: 0;

      &.left {
        margin-left: c.$grid * 2;
      }

      &.right {
        margin-right: c.$grid * 2;
      }
    }

    &:focus {
      // Do not remove outline for high-contrast modes
      // https://stackoverflow.com/a/52616313
      outline: c.$outlineWidth solid transparent;
      @include h.outlineSimple;
      // Put outline over resizer
      z-index: 10;

      .sortingIcon {
        color: c.$colorPrimary;
      }
    }

    &:hover {
      .sortingIcon {
        color: c.$colorPrimary;
      }
    }

    &.sortable {
      cursor: pointer;
    }

    &.alignLeft {
      justify-content: flex-start;
    }

    &.alignRight {
      justify-content: flex-end;
    }

    &.alignCenter {
      justify-content: center;
    }
  }
}

.resizer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: c.$grid * 6;
  height: 100%;
  top: 0;
  right: -(c.$grid * 3);
  z-index: 1;
  cursor: col-resize;
  // Prevents from scrolling while dragging on touch devices
  /* doiuse-disable css-touch-action */
  touch-action: none;
  /* doiuse-enable css-touch-action */

  .separator {
    width: 2px;
    height: 50%;
    background: c.$colorNeutral;
  }

  .resizing,
  &:hover .separator {
    background-color: c.$colorTextSecondary;
  }
}
