@use '../../styles/constants' as c;

.container {
  position: relative;
  padding-left: c.$grid * 3;
  padding-right: c.$grid * 3;
  background-color: c.$colorNeutralLighter;

  :last-child {
    border-right: 0;
  }

  .th {
    display: flex;
    align-items: center;
    padding-top: c.$grid * 2.5;
    padding-bottom: c.$grid * 2.5;
    color: c.$colorTextSecondary;
    @include c.typographyBodySmall;

    &.alignLeft {
      justify-content: flex-start;
    }

    &.alignRight {
      justify-content: flex-end;
    }

    &.alignCenter {
      justify-content: center;
    }

    &.sortable {
      cursor: pointer;
    }
  }

  .sortingIcon {
    flex-shrink: 0;
    color: c.$colorTextSecondary;

    &.left {
      margin-left: c.$grid * 2;
    }

    &.right {
      margin-right: c.$grid * 2;
    }
  }
}

.resizer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: c.$grid * 6;
  height: 100%;
  top: 0;
  right: -(c.$grid * 3);
  z-index: 1;
  cursor: col-resize;
  // Prevents from scrolling while dragging on touch devices
  /* doiuse-disable css-touch-action */
  touch-action: none;
  /* doiuse-enable css-touch-action */

  .separator {
    width: 2px;
    height: 50%;
    background: c.$colorNeutral;
  }

  .resizing,
  &:hover .separator {
    background-color: c.$colorTextSecondary;
  }
}
