@use '../../styles/constants' as c;

.th {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: c.$grid * 2.5;
  padding-bottom: c.$grid * 2.5;
  padding-right: c.$grid * 3;
  padding-left: c.$grid * 3;
  background-color: c.$colorNeutralLighter;
  color: c.$colorTextSecondary;
  @include c.typographyBodySmall;

  :last-child {
    border-right: 0;
  }

  &.alignLeft {
    justify-content: flex-start;
  }

  &.alignRight {
    justify-content: flex-end;
  }

  &.alignCenter {
    justify-content: center;
  }

  &.sortable {
    cursor: pointer;
  }

  .resizer {
    right: 0;
    background: blue;
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    // Prevents from scrolling while dragging on touch devices
    touch-action: none;

    &.isResizing {
      background: red;
    }
  }
}

.sortingIcon {
  color: c.$colorTextSecondary;

  &.left {
    margin-left: c.$grid * 2;
  }

  &.right {
    margin-right: c.$grid * 2;
  }
}
