@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.row {
  @include c.typographyBodySmall;

  display: flex;
  width: 100%;

  &.clickable {
    cursor: pointer;

    &:focus-visible {
      @include h.outlineSimple;

      // Do not remove outline for high-contrast modes
      // https://stackoverflow.com/a/52616313
      outline: c.$outlineWidth solid transparent;
      background-color: #e2e7fa;
    }

    &:hover {
      font-weight: bold;
      background-color: #e2e7fa;
    }
  }
}

.linkRow {
  cursor: pointer;

  .link {
    text-decoration: none;
    background-color: inherit;

    &:focus-visible {
      @include h.outlineSimple;

      // Do not remove outline for high-contrast modes
      // https://stackoverflow.com/a/52616313
      outline: c.$outlineWidth solid transparent;
      background-color: #e2e7fa;
    }

    &:hover {
      font-weight: bold;
      background-color: #e2e7fa;
    }
  }
}
