@use '../../styles/constants' as c;

.container {
  display: flex;
  overflow-x: auto;

  &.margin {
    margin-bottom: c.$grid * 2;
  }

  .table {
    flex-grow: 1;
  }

  .empty {
    margin-top: c.$grid * 8;
  }
}
