@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.container {
  display: block;
  overflow-x: auto;

  &.spaceBottom {
    margin-bottom: c.$grid * 2;
  }

  .empty {
    margin-top: c.$grid * 8;
  }
}

.content {
  position: relative;
}

.overlayLoading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255 255 255 / 50%);
}

.expander {
  &:focus {
    @include h.outlineSimple;
  }
}
