@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.container {
  display: block;
  overflow-x: auto;
  border: c.$borderWidth solid #d4d4d4;
  border-radius: c.$borderRadius;

  &.spaceBottom {
    margin-bottom: c.$grid * 2;
  }

  .empty {
    margin-top: c.$grid * 8;
  }
}

.expander {
  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    @include h.outlineSimple;
  }
}

.hotKeys {
  outline: none;
}
