@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

$calendarHeaderHeight: 26px;
$calendarHeaderMarginBottom: 1px;

$calendarHeight: 277px;
$calendarPadding: 24px;
$headerHeight: 34px;

// Note: Add padding in order to preserve button's outline
// TODO: 4px should be enough, why do we need 5px?
$outlinePreservingPadding: c.$grid * 1.25;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*
   * Match height of: react-datepicker__header.
   */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $calendarHeaderHeight;
    margin-bottom: $calendarHeaderMarginBottom;
  }

  .timePoints {
    display: flex;
    flex-direction: column;
    // TODO: Refactor
    height: calc(#{$calendarHeight} - #{$headerHeight} - #{$calendarPadding});
    overflow-y: scroll;
    padding: $outlinePreservingPadding;
    //margin-top: c.$grid;

    > .timePoint {
      color: c.$colorTextSubdued;
      height: c.$grid * 5;
      padding: 0 c.$grid * 3;

      @include c.typographyBodySmall;

      &:not(:last-of-type) {
        margin-bottom: c.$grid;
      }

      > .timePointBody {
        padding: 0;
      }
    }
  }
}
