@import '../styles/constants/index.scss';

/*
 * TODO: Width
 */

.alert {
  border-radius: $borderRadiusAlert;
  padding: $grid * 2 $grid * 3;
  display: inline-block;
  font-size: $fontSizeBodyNormal;
  color: $colorBlack;

  /* Layout */
  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: $grid * 2;
      width: 16px;
      height: 16px;
    }

    .title {
      font-weight: $fontWeightMedium;
    }

    .close {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      padding: 0;
      width: 16px;
      height: 16px;

      .closeIcon {
        width: 100%;
        height: 100%;
        color: $colorBlack;
      }
    }
  }

  .body {
    padding: ($grid * 1.5) ($grid * 10) 0 ($grid * 6);

    .actions {
      display: flex;
      flex-direction: row;
      margin-top: $grid * 3;

      .action:nth-child(2) {
        margin-left: $grid * 2;
      }
    }
  }

  /* Theme - Success */
  &.success {
    background-color: $colorSuccess;
    color: $colorNeutralWhite;

    .icon {
      color: $colorNeutralWhite;
    }

    .title {
      color: $colorNeutralWhite;
    }

    .body {
      .content {
        color: $colorNeutralWhite;
      }
    }
  }

  /* Theme - Info */
  &.info {
    background-color: $colorInfo;

    .icon {
      color: $colorInfoDark;
    }

    .title {
      color: $colorInfoDark;
    }

    .body {
      .content {
        color: $colorInfo;
      }
    }
  }

  /* Theme - Warning */
  &.warning {
    background-color: $colorWarning;

    .icon {
      color: $colorWarningDark;
    }

    .title {
      color: $colorWarningDark;
    }

    .body {
      .content {
        color: $colorWarning;
      }
    }
  }

  /* Theme - Critical */
  &.critical {
    background-color: $colorError;
    color: $colorNeutralWhite;

    .icon {
      color: $colorNeutralWhite;
    }

    .title {
      color: $colorNeutralWhite;
    }

    .body {
      .content {
        color: $colorNeutralWhite;
      }
    }
  }
}
