@use '../styles/constants' as c;
@use '../styles/helpers' as h;

// TODO: potential max-height
.alert {
  display: inline-flex;
  padding: c.$grid * 2.5;
  width: c.$alertWidth;
  border-left: 5px solid transparent;

  .icon {
    flex-shrink: 0;
    margin-right: c.$grid * 2.5;
  }

  .rightSide {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      flex: 1 0 auto;
      margin-right: c.$grid * 8.5;

      @include c.typographyBodyNormal('bold');
      @include h.overflowEllipsis;
    }
  }

  /* Theme - Success */
  &.success {
    color: c.$colorText;
    border-color: c.$colorSuccess;
    background-color: c.$colorSuccessLight;

    .icon {
      color: c.$colorText;
    }

    .actions {
      .action {
        color: c.$colorText;
      }
    }
  }

  /* Theme - Info */
  &.info {
    color: c.$colorText;
    border-color: c.$colorInfo;
    background-color: c.$colorInfoLight;

    .icon {
      color: c.$colorText;
    }

    .actions {
      .action {
        color: c.$colorText;
      }
    }
  }

  /* Theme - Warning */
  &.warning {
    color: c.$colorText;
    border-color: c.$colorWarning;
    background-color: c.$colorWarningLight;

    .icon {
      color: c.$colorText;
    }

    .actions {
      .action {
        color: c.$colorText;
      }
    }
  }

  /* Theme - Critical */
  &.critical {
    color: c.$colorText;
    border-color: c.$colorError;
    background-color: c.$colorErrorLight;

    .icon {
      color: c.$colorText;
    }

    .actions {
      .action {
        color: c.$colorText;
      }
    }
  }

  .body {
    padding-right: c.$grid * 8.5;

    @include c.typographyBodySmall;

    .actions {
      display: flex;
      margin: c.$grid * 3 0 c.$grid;

      .action {
        &:not(:last-child) {
          margin-right: c.$grid * 6;
        }
      }

      .actionButton {
        height: auto;

        @include c.typographyBodySmall;

        &:hover,
        &.hover {
          /* doiuse-disable text-decoration */
          text-decoration: underline solid;
        }

        .actionButtonBody {
          padding: 0;
        }

        .actionButtonIcon {
          margin-right: c.$grid * 1.5;
        }
      }
    }
  }
}
