@use '../styles/constants' as c;

.badge {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: c.$borderRadiusBadge;
  padding: c.$grid c.$grid * 2;
  font-size: inherit;
  font-family: c.$fontFamilyText;
  letter-spacing: c.$letterSpacingBodySmall;
  line-height: c.$lineHeightBodySmall;

  .icon {
    width: 1em;
    height: 1em;
  }

  .content {
    margin-left: c.$grid;
  }

  &.neutral {
    background-color: c.$colorNeutralLighter;
    color: c.$colorText;
  }

  &.success {
    background-color: c.$colorSuccess;
    color: c.$colorNeutralWhite;
  }

  &.info {
    background-color: c.$colorInfoLight;
    color: c.$colorText;
  }

  &.warning {
    background-color: c.$colorWarningLight;
    color: c.$colorText;
  }

  &.critical {
    background-color: c.$colorError;
    color: c.$colorNeutralWhite;
  }
}
