@import '../styles/constants/index';
@import '../styles/a11y.scss';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-weight: $fontWeightRegular;
  font-family: $fontFamily;
  color: $colorNeutralWhite;
  // Size
  border-radius: $borderRadius;
  font-size: $fontSizeButton;
  height: $grid * 10;
  padding: 0 $grid * 5;

  &:focus,
  &.focus {
    @include outline;
  }

  &:disabled {
    cursor: not-allowed;
  }

  .icon {
    width: $grid * 6;
    height: $grid * 6;
  }

  .iconLeft {
    margin-right: $grid * 2;
  }

  .iconRight {
    margin-left: $grid * 2;
  }

  .body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Kind === primary
  &.primary {
    color: $colorNeutralWhite;
    background-color: $colorPrimary;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: $colorPrimaryLight;
    }

    &:active,
    &.active {
      background-color: $colorPrimaryDark;
    }

    &:disabled {
      color: $colorTextSecondary;
      background-color: $colorNeutral;
    }
  }

  // Kind === secondary
  &.secondary {
    color: $colorPrimary;
    background-color: transparent;
    border: $borderWidth solid;
    border-color: $colorPrimary;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      color: $colorPrimaryLight;
      border-color: $colorPrimaryLight;
    }

    &:active,
    &.active {
      color: $colorPrimaryDark;
      border-color: $colorPrimaryDark;
    }

    &:disabled {
      color: $colorTextSecondary;
      border-color: $colorNeutral;
    }
  }

  /* 
    // Kind === success || Kind === successSecondary
    &.success {
      color: $colorNeutralWhite;
      background-color: $colorSuccess;

      &.successSecondary {
        border: $borderWidth solid $colorSuccess;
        color: $colorSuccess;
        background-color: transparent;
      }
    }

    // Kind === info || Kind === infoSecondary
    &.info {
      color: $colorNeutralWhite;
      background-color: $colorInfo;

      &.infoSecondary {
        border: $borderWidth solid $colorInfo;
        color: $colorInfo;
        background-color: transparent;
      }
    }

    // Kind === warning || Kind === warningSecondary
    &.warning {
      color: $colorNeutralWhite;
      background-color: $colorWarning;

      &.warningSecondary {
        border: $borderWidth solid $colorWarning;
        color: $colorWarning;
        background-color: transparent;
      }
    }

    &.critical {
      color: $colorNeutralWhite;
      background-color: $colorError;

      &.criticalSecondary {
        border: $borderWidth solid $colorError;
        color: $colorError;
        background-color: transparent;
      }
    }

    // Kind === dashed
    &.dashed {
      color: $colorNeutralDark;
      background-color: transparent;
      // Colour set by 'stroke', special characters are encoded
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23b7c1cbff' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

      &:hover,
      &.hover,
      &:focus,
      &.focus {
        // Colour set by 'stroke', special characters are encoded
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%236D7480ff' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      }

      &:active,
      &.active {
        // Colour set by 'stroke', special characters are encoded
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23353D49ff' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        -webkit-box-shadow: inset 0 0 $grid * 2 0 $colorNeutralNormal;
        -moz-box-shadow: inset 0 0 $grid * 2 0 $colorNeutralNormal;
        box-shadow: inset 0 0 $grid * 2 0 $colorNeutralNormal;
      }

      &:disabled {
        color: $colorNeutralLight;
        // Colour set by 'stroke', special characters are encoded
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E3E7EDff' stroke-width='2' stroke-dasharray='6%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      }
    }

    // Kind === danger
    &.danger {
      color: $colorNeutralWhite;
      background-color: $colorError;

      // TODO: Colours not specified
      &:hover,
      &.hover,
      &:focus,
      &.focus {
        background-color: pink;
      }

      &:active,
      &.active {
        background-color: $colorError;
      }

      // TODO: Colours not specified
      &:disabled {
        background-color: pink;
      }
    }
  */
}
