@use '../styles/constants' as c;

.wrapper {
  $padding: c.$grid * 5;

  background: c.$colorNeutralWhite;

  &.bordered {
    padding: $padding;
    border-radius: c.$borderRadius;
    border: c.$borderWidth solid c.$colorNeutral;

    .heading {
      @include c.typographyH3;

      display: flex;
      align-items: center;
      margin: 0;

      .icon {
        margin-right: c.$grid * 2.5;
      }

      .title {
        margin: 0;
        font-size: c.$fontSizeBodyNormal !important;
        line-height: c.$lineHeightBodyNormal !important;

        &.space {
          margin-right: c.$grid * 2.5;
        }
      }
    }

    .content {
      @include c.typographyBodyNormal;

      margin-top: c.$grid * 4;
      padding: 0;
    }

    .caption {
      margin: (-$padding) (-$padding) $padding;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: c.$grid * 5;

    .icon {
      margin-right: c.$grid * 2.5;
    }

    .title {
      margin: 0;

      &.space {
        margin-right: c.$grid * 2.5;
      }
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    margin-top: c.$grid * 4;
    background: c.$colorNeutral;
  }

  .content {
    padding-top: c.$grid * 6;
    @include c.typographyBodyNormal;
  }

  &.noTitle {
    .content {
      margin-top: 0;
    }
  }

  .caption {
    display: flex;
    margin-bottom: $padding;

    & > * {
      flex: 1;
    }
  }
}
