@use '../styles/constants' as c;

.wrapper {
  padding: c.$grid * 5;
  box-shadow: 0 c.$cardShadowSize c.$cardShadowBlur 0 c.$colorShadow;
  border-radius: c.$borderRadius;
  background: c.$colorNeutralWhite;

  .heading {
    @include c.typographyH3();

    display: flex;
    align-items: center;

    .icon {
      margin-right: c.$grid * 2.5;
    }

    .title {
      margin: 0;
      margin-right: c.$grid * 2.5;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    margin-top: c.$grid * 4;
    background: c.$colorNeutral;
  }

  .content {
    @include c.typographyBodyNormal;

    margin-top: c.$grid * 4;
  }

  &.noTitle {
    .content {
      margin-top: 0;
    }
  }
}
