@use '../styles/constants' as c;

.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 c.$cardShadowSize c.$cardShadowBlur 0 c.$colorShadow;
  border-radius: c.$borderRadius;
  background: c.$colorNeutralWhite;

  &.typeSecondary {
    background: none;
    border: c.$borderWidth solid c.$colorNeutralLight;
    box-shadow: none;
  }

  &.typeHighlighter {
    background: c.$colorInfoLight;
    box-shadow: none;
  }

  h2.heading {
    @include c.typographyH2();
  }

  h3.heading {
    @include c.typographyH3();
  }

  .heading {
    display: flex;
    align-items: center;
    padding: c.$grid * 6 c.$grid * 6 0;
    margin: 0;

    .icon {
      line-height: 1;
      margin-left: c.$grid * 2;
    }
  }

  .content {
    @include c.typographyBodyNormal;

    padding: c.$grid * 6;
  }
}
