@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.wrapper {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  @include c.typographyBodySmall;

  // hide native checkbox
  input {
    @include h.visuallyHidden;
  }

.errorContainer {
  margin-top: c.$grid;
}
  // default visible checkmark
  .checkmark {
    width: c.$iconSizeSmall;
    height: c.$iconSizeSmall;
    border: c.$borderWidth solid c.$colorNeutralLight;
    border-radius: c.$grid;
    color: c.$colorNeutralWhite;
    // because of ~ and + selectors used below, we need to keep the current order in DOM and
    // fix it visually with order property
    order: -1;
  }

  & > input:checked ~ .checkmark {
    background-color: c.$colorSuccessLight;
    border-color: c.$colorSuccessLight;
  }

  /**
    Hover
   */
  &:hover,
  &.hover {
    input ~ .checkmark {
      border-color: c.$colorPrimary;
    }
  }

  input[aria-checked='mixed'] ~ .checkmark {
    background-color: c.$colorPrimaryLight;
    border-color: c.$colorPrimaryLight;
  }

  // Error state
  &.error input ~ .checkmark {
    border-color: c.$colorError;
  }

  .name {
    padding-left: c.$grid * 1.25;
  }

  &:not(.checked) {
    color: c.$colorTextSecondary;
  }

  &.focus > input,
  input:focus {
    ~ .checkmark {
      @include h.outlineFormField;
    }
  }

  /**
    Disabled
  */
  &.disabled {
    color: c.$colorNeutralLight;
    cursor: not-allowed;

    & > input:disabled ~ .checkmark {
      color: c.$colorNeutralWhite;
      border-color: c.$colorNeutralLight;
    }

    & > input:disabled:checked ~ .checkmark {
      background-color: c.$colorNeutral;
    }
  }
}
