@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.container {
  box-shadow: 0 c.$cardShadowSize c.$cardShadowBlur 0 c.$colorShadow;
  border-radius: c.$borderRadius;
  :global .cm-wrap {
    // bogus padding to avoid overlapping with our outlineFormField mixin.
    padding: 1px;
    border-radius: c.$borderRadius;
    border: c.$borderWidth solid c.$colorNeutralLight;
  }
  :global .cm-wrap.cm-focused {
    // inherited outline just looks weird, override it
    outline: none;

    // use our own outline
    @include h.outlineFormField;
    border: c.$borderWidth solid c.$colorAccessibilityOutline;
  }
  :global .cm-scroller {
    border-radius: c.$borderRadius;
  }
}

.errorContainer {
  margin-top: c.$grid;
}
