@use '../styles/constants' as c;

.dialog {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // Note: Unset properties set by Modal
  min-width: unset;
  max-width: unset;
  min-height: c.$dialogMinHeight;
  max-height: unset;
  width: c.$dialogWidth;

  .dialogBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    .dialogHeader {
      margin-right: 0;
      justify-content: center;
    }

    .dialogContent {
      flex: 1;
    }

    .dialogFooter {
      display: flex;
      margin: 0 (c.$grid * -5) (c.$grid * -5) (c.$grid * -5);

      & > button {
        flex: 1;
        margin: 0 !important;
        max-width: unset;
        // Note: Unset border-radius for the buttons
        border-radius: unset;
      }

      // Note: In case there is only one button (Cancel)
      & > button:only-of-type {
        border-bottom-left-radius: c.$borderRadius;
        border-bottom-right-radius: c.$borderRadius;
      }

      // Note: In case there are 2 buttons
      & > button:not(:only-of-type) {
        &:nth-of-type(1) {
          border-bottom-left-radius: c.$borderRadius;
        }
        &:nth-of-type(2) {
          border-bottom-right-radius: c.$borderRadius;
        }
      }
    }
  }
}
