@use '../styles/constants' as c;

.container {
  @include c.typographyBodySmall;

  font-weight: c.$fontWeightRegular;
  color: c.$colorError;
  display: none;

  &.hasError {
    display: block;
  }
}
