@use '../styles/constants' as c;

.iconButton {
  z-index: c.$zIndex200;
  display: flex;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: transparent;
  border-radius: c.$borderRadius;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .outline {
    z-index: c.$zIndex100;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: c.$borderRadius;
    border-color: c.$colorAccessibilityOutline;
  }

  &:focus,
  &.focus {
    // Do not remove outline for high-contrast modes
    // https://stackoverflow.com/a/52616313
    outline: c.$outlineWidth solid transparent;

    .outline {
      box-shadow: 0 0 0 c.$outlineWidth c.$colorAccessibilityOutline;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    color: c.$colorPrimary;

    &:disabled {
      color: c.$colorTextSecondary;
    }

    &:hover,
    &.hover {
      &:not(:disabled) {
        background-color: c.$colorNeutralLighter;
        box-shadow: inset 0 0 0 c.$borderWidth c.$colorNeutralLight;
      }
    }
  }

  &.transparent {
    color: inherit;
  }
}
