@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.iconButton {
  display: inline-flex;
  cursor: pointer;
  border: c.$borderWidth solid transparent;
  background-color: transparent;
  border-radius: c.$borderRadius;
  color: inherit;
  padding: 0;
  box-sizing: border-box;

  &.paddingNormal {
    // With icon size "normal" matches text input
    /* doiuse-disable calc */
    padding: calc(#{c.$grid * 2} - #{c.$borderWidth});
    /* doiuse-enable calc */
  }

  .body {
    display: inline-flex;
    vertical-align: middle;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    color: c.$colorPrimary;

    &:hover,
    &.hover {
      background-color: c.$colorNeutralLighter;
      border-color: c.$colorNeutralLight;
    }

    &:disabled {
      background-color: transparent;
      border-color: transparent;
      color: c.$colorTextSecondary;
    }

    &:focus,
    &.focus {
      @include h.outlineFormField;
    }
  }

  &.transparent {
    color: inherit;

    &:focus,
    &.focus {
      @include h.outlineFormField;
    }
  }
}
