@use '../styles/constants' as c;

$addIconSpacing: c.$grid;

.inputRow {
  display: flex;
  margin-bottom: c.$grid * 3;

  .input {
    border-right: none;
  }
  .inputContainer {
    border-radius: c.$borderRadius 0 0 c.$borderRadius;

    .input:focus {
      & ~ .inputBorderOverlay {
        border-right: none;
        box-shadow: none;
        border-color: c.$colorPrimary;
      }
    }
  }
  .inputBorderOverlay {
    border-radius: c.$borderRadius 0 0 c.$borderRadius;
    border-right: none;
  }
  .addIcon {
    display: block;
    border-radius: 0 c.$borderRadius c.$borderRadius 0;
    border: c.$borderWidth solid c.$colorPrimary;
    background-color: c.$colorPrimary;
    color: c.$colorNeutralWhite;
    height: c.$inputHeight;
    width: c.$inputHeight;

    &:hover {
      background-color: c.$colorPrimaryLight;
      border-color: c.$colorPrimaryLight;
    }
  }
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  .removeIcon {
    margin-right: 0;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: c.$colorPrimaryLight;
    }
  }
  .content {
    background: c.$colorOverlayBackground;
    padding: c.$grid/3 c.$grid c.$grid/3 c.$grid * 2;
    margin-top: c.$grid * 3;
    border: c.$borderWidth solid c.$colorNeutralLight;
    border-radius: c.$borderRadius;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
