@use '../styles/constants' as c;

$addIconSpacing: c.$grid;

.inputRow {
  display: flex;
  margin-bottom: c.$grid * 3;

  .addIcon {
    display: block;
    margin-left: c.$grid * 3;
    border-radius: c.$inputHeight;
    border: c.$borderWidth solid c.$colorPrimary;
    color: c.$colorPrimary;
    height: c.$inputHeight - $addIconSpacing;
    width: c.$inputHeight - $addIconSpacing;

    // label (1rem * 1.4 line-height) + margin-bottom of a label
    margin-top: c.$grid * 7;
  }
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .content {
    padding: c.$grid c.$grid * 3;
    margin-top: c.$grid * 3;
    border: c.$borderWidth solid c.$colorNeutralLight;
    border-radius: c.$borderRadius;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
