@use '../styles/constants' as c;

@mixin hover-focus-active {
  // hover, focus and active classes are declared for internal use in storybook, see Link.stories.tsx
  &:hover,
  &:focus,
  &:active,
  &.hover,
  &.focus,
  &.active {
    text-decoration: none;
    outline: none;
  }
}

.primary {
  color: c.$colorPrimary;
  text-decoration: underline solid;

  @include hover-focus-active;
}

.secondary {
  color: c.$colorTextSecondary;
  text-decoration: underline solid;

  @include hover-focus-active;
}

.tertiary {
  color: c.$colorTextSecondary;
  text-decoration: underline solid;

  @include hover-focus-active;
}

.tooltip {
  color: c.$colorTextSecondary;
  text-decoration: underline dotted;

  @include hover-focus-active;
}

.chevron {
  display: inline-flex;
  align-items: center;
}
