@use '../styles/constants' as c;

@mixin justifyAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hoverFocusActive {
  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    text-decoration: none;
    outline: none;
  }
}

.regular {
  color: c.$colorPrimary;
  text-decoration: underline solid;

  @include c.typographyBodyNormal;

  @include justifyAlign;

  @include hoverFocusActive;

  .icon {
    width: c.$grid * 5;
    height: c.$grid * 5;
    flex-shrink: 0;
  }
}

.small {
  color: c.$colorPrimary;
  text-decoration: underline solid;

  @include c.typographyBodySmall;

  @include justifyAlign;

  @include hoverFocusActive;

  .icon {
    width: c.$grid * 4;
    height: c.$grid * 4;
    flex-shrink: 0;
  }
}
