@use '../styles/constants' as c;

button.buttonReset {
  border: none;
  background: none;
}

@mixin link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    text-decoration: underline solid;
    outline: none;
  }

  &.primary {
    color: c.$colorPrimary;
  }
  &.secondary {
    color: c.$colorTextSecondary;
  }
}

.normal {
  @include link;
  @include c.typographyBodyNormal;
}

.small {
  @include link;
  @include c.typographyBodySmall;
}
