@use '../styles/constants' as c;

@mixin link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: c.$colorPrimary;
  text-decoration: none;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    text-decoration: underline solid;
    outline: none;
  }
}

.normal {
  @include link;
  @include c.typographyBodyNormal;
}

.small {
  @include link;
  @include c.typographyBodySmall;
}
