@use "sass:math";
@use "../styles/constants" as c;

$itemsCnt: 8;
$duration: c.$durationLoader;
$delayStep: math.div($duration, $itemsCnt);
$opacityMax: 1;
$opacityMin: 0.2;

.loader {
  &.small {
    width: c.$iconSizeSmall;
    height: c.$iconSizeSmall;
  }

  &.smallMedium {
    width: c.$iconSizeSmallMedium;
    height: c.$iconSizeSmallMedium;
  }

  &.medium {
    width: c.$iconSizeMedium;
    height: c.$iconSizeMedium;
  }

  &.large {
    width: c.$iconSizeLarge;
    height: c.$iconSizeLarge;
  }

  &.xlarge {
    width: c.$iconSizeXLarge;
    height: c.$iconSizeXLarge;
  }

  &.primary {
    color: c.$colorPrimaryDark;
  }

  &.contrast {
    color: c.$colorNeutralWhite;
  }

  &.inherit {
    color: inherit;
  }

  > line {
    animation-duration: $duration;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  @for $i from 1 through $itemsCnt {
    > line:nth-child(#{$i}) {
      animation-delay: $delayStep * ($i - 1);
    }
  }
}

@keyframes fade {
  0% {
    opacity: $opacityMax;
  }

  50% {
    opacity: $opacityMin;
  }

  100% {
    opacity: $opacityMax;
  }
}
