@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.overlay {
  width: 100%;
  height: 100%;
  // TODO: Get color
  background-color: transparentize(c.$colorNeutralLight, 0.9);
}

.modal {
  background-color: c.$colorNeutralWhite;
  border: none;
  border-radius: c.$borderRadius;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: c.$modalMaxWidth;
  width: c.$modalWidth;
  max-height: c.$modalHeight;
  z-index: c.$zIndex1000;
}
