@use '../styles/constants' as c;

$buttonMargin: c.$grid * 2;
$inputMargin: c.$iconSizeSmall + $buttonMargin * 2;

.disabled {
  visibility: hidden;
}

.inputContainer {
  position: relative;

  > input {
    /* doiuse-disable css-appearance */
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* doiuse-enable css-appearance */
  }

  &.buttons {
    > input {
      padding-right: $inputMargin*2;
    }

    &.buttonsIconsTogether > input {
      padding-left: $inputMargin;
      padding-right: $inputMargin;
      text-align: center;
    }

    &.buttonsRegularIconsTogether > input {
      padding-left: $inputMargin + c.$grid;
      padding-right: $inputMargin + c.$grid;
      text-align: center;
    }

    .decrement {
      color: c.$colorPrimary;
      position: absolute;
      right: $buttonMargin;
      top: 50%;
      transform: translateY(-50%);
      margin-right: c.$iconSizeSmallMedium+c.$grid;
      &.decrementIconsTogether {
        left: $buttonMargin;
        right: auto;
      }
      &.decrementSmall {
        margin-right: c.$iconSizeSmall+c.$grid;
      }

      :global line {
        color: black;
      }
    }
    .increment {
      color: c.$colorPrimary;
      position: absolute;
      right: $buttonMargin;
      top: 50%;
      transform: translateY(-50%);
      :global line {
        color: black;
      }
    }
  }
}
