@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  > *:not(:last-child) {
    margin-right: c.$grid * 4.5;
  }

  .rows {
    display: flex;
    align-items: flex-end;

    > *:first-child {
      margin-right: c.$grid * 5;
    }
  }

  .shownItems {
    @include c.typographyBodySmall;

    color: c.$colorTextSecondary;
  }

  .buttons {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: c.$grid * 2;
    }

    // Override Button styles
    .button {
      color: c.$colorTextSecondary;
      background-color: c.$colorNeutralLighter;
      border: 1px solid;
      border-color: c.$colorNeutralLight;
      height: c.$inputHeightSmall;
      border-radius: c.$borderRadius;

      @include c.typographyBodySmall;

      .outline {
        display: none;
      }

      .body {
        padding: 0 c.$grid * 2.5;
      }

      &:hover,
      &:active,
      &.selected {
        color: c.$colorText;
        border-color: c.$colorPrimary;
      }

      &:focus-visible {
        color: c.$colorText;
        border-color: c.$colorAccessibilityOutline;
      }
    }
  }

  // Override IconButton styles
  .iconButton {
    display: flex;
    align-items: center;
    background-color: c.$colorNeutralLighter;
    border: 1px solid;
    border-color: c.$colorNeutralLight;
    height: c.$inputHeightSmall;
    padding: 0 c.$grid * 2;

    &:hover,
    &:active,
    &.selected {
      border-color: c.$colorPrimary;
    }

    &:focus,
    &:focus-visible {
      box-shadow: none;
    }
  }

  .pageJumpForm {
    display: flex;
    align-items: center;

    .inputContainer {
      // Comfortable to use with up to 4-digit numbers and small enough to not take much space
      // max-width: c.$grid * 14;
      // min-width: c.$grid * 14;
      width: c.$grid * 14;
    }
  }

  .rowsPerPage {
    display: flex;
    align-items: center;

    .label {
      margin-right: c.$grid * 2;
      margin-bottom: 0;
    }

    :global .hz-select-field__control {
      // Comfortable to use with up to 4-digit numbers and small enough to not take much space
      width: c.$grid * 22;
    }
  }
}
