@use '../styles/constants' as c;

$buttonMargin: c.$grid * 2;
$inputPadding: c.$iconSizeSmall + $buttonMargin * 2;

.inputContainer {
  position: relative;

  > input {
    padding-right: $inputPadding;
  }

  .toggle {
    position: absolute;
    right: $buttonMargin;
    top: 50%;
    transform: translateY(-50%);
  }
}
