@use "../styles/constants/index" as c;

$contentBorderRadius: 3px;

.root {
  display: flex;
  flex-direction: column;
  background: c.$colorNeutralWhite;
  border-bottom-left-radius: $contentBorderRadius;
  border-bottom-right-radius: $contentBorderRadius;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 17%);
}
