@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.radioGroup {
  display: flex;
  flex-direction: column;

  &.inline {
    flex-direction: row;

    > *:not(:first-child) {
      margin-left: c.$grid;
    }
  }
}
