@use '../styles/constants' as c;
@use '../styles/helpers' as h;

ul.radioGroup {
  padding: 0;
  margin: 0;
  list-style-type: none;

  // Error state
  &.error input:checked ~ * {
    border-color: c.$colorError;
  }
}
