@use '../styles/constants' as c;
@use '../styles/helpers' as h;

.radioGroup {
  display: flex;
  flex-direction: column;

  &:not(.inline) > *:not(:last-child) {
    // we need to provide spacing between radios if they're in a vertical column
    margin-bottom: c.$grid;
  }

  &.inline {
    flex-direction: row;

    > *:not(:first-child) {
      margin-left: c.$grid;
    }
  }
}

.errorContainer {
  margin-top: c.$grid;
}
