@use "../styles/constants" as c;
@use "../styles/helpers" as h;

.group {
  display: flex;

  .groupLabel {
    @include h.visuallyHidden;
  }

  .option {
    position: relative;
    box-sizing: border-box;
    height: c.$inputHeight;
    min-width: c.$grid * 37.5;
    border: 1px solid c.$colorNeutralLight;
    border-bottom-width: 6px;
    background-color: c.$colorNeutralLighter;
    color: c.$colorTextSecondary;
    cursor: pointer;

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: c.$grid * 2;
      padding-right: c.$grid * 2;
      cursor: pointer;

      @include c.typographyBodyNormal("bold");
    }

    &.checked {
      color: c.$colorText;
      border-bottom-color: c.$colorSuccessLight;
    }

    &:first-of-type {
      border-top-left-radius: c.$borderRadius;
      border-bottom-left-radius: c.$borderRadius;
    }

    &:last-of-type {
      border-top-right-radius: c.$borderRadius;
      border-bottom-right-radius: c.$borderRadius;
    }

    // Border collapse
    &:not(:first-of-type) {
      margin-left: -1px;
    }

    &:hover {
      color: c.$colorText;
    }

    &:focus {
      // Do not remove outline for high-contrast modes
      // https://stackoverflow.com/a/52616313
      outline: c.$outlineWidth solid transparent;
      color: c.$colorText;
      position: relative;
      z-index: c.$zIndex200;

      @include h.outlineAround;
    }
  }

  &.small {
    .option {
      min-width: c.$grid * 28.125;
      height: c.$inputHeightSmall;
      border-bottom-width: 4px;

      .label {
        @include c.typographyBodySmall("bold");
      }
    }
  }
}
