@use "../styles/constants" as c;

.root {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  color: c.$colorText;

  th,
  td {
    padding: c.$grid * 1.5 c.$grid * 2.5;
    font-size: c.$fontSizeBodySmall;
    text-align: left;
    vertical-align: top;
  }

  td {
    border-top: 5px solid c.$colorNeutralWhite;
    border-left: 1px solid c.$colorNeutral;
    background: c.$colorNeutralLighter;

    &:first-child {
      border-left: none;
    }
  }
}
