@use '../styles/constants' as c;
@use '../styles/helpers' as h;

$sliderBaseSize: 1rem;

// border radius on left/right size of the progress tracker
$trackBorderRadius: c.$grid * 2;

// height of the track
$trackHeight: $sliderBaseSize;
$thumbBorderSize: c.$grid * 2.5;

$sliderThumbShadowSize: 1px;
$sliderThumbShadowBlur: c.$grid;
$sliderThumbShadowColor: rgba(53, 61, 73, 0.5);

// thumb width without a white border, let's make it the height of the slider
$thumbWidth: $trackHeight;
$thumbFullWidth: $thumbWidth + $thumbBorderSize * 2;

@mixin track() {
  background: none; // get rid of track background
  appearance: none;
  margin: 0 $thumbFullWidth * -0.5;
  padding: 0 $sliderThumbShadowBlur * 2;
  border: 0;
}

@mixin thumb() {
  box-shadow: 0 $sliderThumbShadowSize $sliderThumbShadowBlur $sliderThumbShadowColor;
  // background will represent the dot inside
  background: c.$colorPrimaryLight;
  //background: red;
  // the white part will be done by the border
  border: $thumbBorderSize solid c.$colorNeutralWhite;
  box-sizing: content-box; /* and because of all of this, we need content-box */

  border-radius: 50%;
  pointer-events: auto; /* catch clicks */
  width: $thumbWidth;
  height: $thumbWidth;

  opacity: 0.2;
}

// used to position elements on top of each other using grid
@mixin gridItem() {
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  vertical-align: text-bottom;

  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;

  padding: $sliderThumbShadowBlur $thumbWidth + $sliderThumbShadowBlur / 2;

  input[type='range'] {
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb,
    & {
      -webkit-appearance: none;
    }

    outline: none;
    @include gridItem;
    background: none;
    // ignore clicks on the actual inputs and let them pass to the handles
    pointer-events: none;
    min-height: 1.5rem;

    // because of IE11
    margin: 0;
    padding: 0;
    width: 100%;

    // Style the track
    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-ms-track {
      @include track;
      // IE11 specific rule to hide the trackbar
      visibility: hidden;
    }

    // Thumb related stylings
    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-ms-thumb {
      @include thumb;
    }

    // don't show IE11's lower fill
    &::-ms-fill-lower {
      display: none;
    }
  }

  // see the javascript code for an explanation of this class
  input[type='range'].atTheBorder {
    &::-webkit-slider-thumb {
      pointer-events: none;
    }

    &::-moz-range-thumb {
      pointer-events: none;
    }
  }

  @mixin fill {
    @include gridItem;
    content: '';
    height: $trackHeight;
    pointer-events: none;
    border-radius: $trackBorderRadius;
    // highlighted part covers the border
    box-sizing: border-box;

    // IE11 - center vertically in grid
    margin-top: auto;
    margin-bottom: auto;
  }

  .fill {
    @include fill();
    background: c.$colorPrimaryLight;
  }

  .fillPlaceholder {
    @include fill();
    background: c.$colorNeutral;
    border: 1px solid c.$colorNeutralLight;
    width: 100%;
  }
}
