@use '../styles/constants' as c;
@use '../styles/helpers' as h;

$inputHeight: c.$grid * 10;
$inputHorizontalPadding: c.$grid * 3;
$marginLeftWithIcon: c.$grid * 5;

.container {
  @include c.typographyBodySmall;

  color: c.$colorText;
  box-sizing: border-box;
  margin: 0;
  position: relative;

  .inputBlock {
    margin-top: c.$grid;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .errorContainer {
    margin-top: c.$grid;
  }

  .helperText {
    margin-left: c.$grid;
    display: block;
  }

  .inputContainer {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: $inputHeight;
    background-color: c.$colorNeutralLighter;
    border-radius: c.$borderRadius;
  }

  // Here we go. Another border hack. Why?
  // TextField is re-used for PasswordField. PasswordField is meant for passwords.
  // Passwords are often handled by password managers. Password managers often add their own UI on top of the password inputs.
  // To make our password visibility toggle and their UI not overlap, we have to make the actual input shorter than its visual representation.
  // However, visually we still would like our users to see it as one unit.
  // As result, we cannot apply border to the input itself (because it's shorter).
  // We could have applied border styles to .inputContainer. But IE11 does not support :focus-within.
  // So to properly apply focus styles we need a sibling element to the actual input that supports :focus.
  // .borderOverlay is that very sibling element.
  .borderOverlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: c.$zIndex100;
    border-radius: c.$borderRadius;
    border: c.$borderWidth solid c.$colorNeutralLight;
    box-sizing: border-box;
  }

  .inputIcon {
    position: absolute;
    top: 50%;
    // c.$grid * 9 / 2 is half of the padding. We need to shift it to the left just a bit to account for the border width
    transform: translate(-50%, -50%) translateX(c.$outlineWidth);
    left: ($marginLeftWithIcon + $inputHorizontalPadding) / 2;
  }

  input {
    display: block;
    flex: 1 1 auto;
    background-color: transparent;
    padding: 0 $inputHorizontalPadding;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    height: 100%;

    &::placeholder {
      color: c.$colorTextSecondary;
    }
  }

  &.withIcon {
    input {
      margin-left: $marginLeftWithIcon;
    }
  }

  &.empty {
    color: c.$colorTextSecondary;
  }

  &:hover,
  &.hover {
    .borderOverlay {
      border-color: c.$colorPrimary;
    }
    .inputIcon {
      color: c.$colorPrimary;
    }
  }

  &.disabled {
    color: c.$colorTextSecondary;

    .inputContainer {
      background-color: c.$colorNeutral;
    }
    .borderOverlay {
      border-color: c.$colorNeutralLight;
    }
    .inputIcon {
      color: c.$colorTextSecondary;
    }
  }

  &.hasError {
    .borderOverlay {
      border-color: c.$colorError;
    }
    .inputIcon {
      color: c.$colorError;
    }
  }

  input:focus {
    // Do not remove outline for high-contrast modes
    // https://stackoverflow.com/a/52616313
    outline: transparent solid c.$outlineWidth;

    & ~ .borderOverlay {
      @include h.outlineFormField;
    }
    & ~ .inputIcon {
      color: c.$colorPrimary;
    }
  }
  &.focus {
    .borderOverlay {
      @include h.outlineFormField;
    }
    .inputIcon {
      color: c.$colorPrimary;
    }
  }
}
