@use '../styles/constants' as c;
@use '../styles/helpers' as h;

$inputHeight: c.$grid * 10;
$paddingLeftWithIcon: c.$grid * 8;

.container {
  @include c.typographyBodySmall;

  color: c.$colorText;
  box-sizing: border-box;
  margin: 0;
  position: relative;

  .inputBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .inputContainer {
    position: relative;
    flex: 1;
  }

  .errorContainer {
    margin-top: c.$grid;
  }

  .helperText {
    margin-left: c.$grid;
    display: block;
  }

  .inputIcon {
    position: absolute;
    top: 50%;
    // c.$grid * 9 / 2 is half of the padding. We need to shift it to the left just a bit to account for the border width
    transform: translate(-50%, -50%) translateX(c.$outlineWidth);
    left: $paddingLeftWithIcon / 2;
  }

  input {
    display: block;
    padding: 0 c.$grid * 3;
    border-width: c.$borderWidth;
    border-color: c.$colorNeutralLight;
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    height: $inputHeight;
    border-radius: c.$borderRadius;
    background-color: c.$colorNeutralLighter;

    &::placeholder {
      color: c.$colorTextSecondary;
    }
  }

  &.withIcon {
    input {
      padding-left: $paddingLeftWithIcon;
    }
  }

  &.empty {
    color: c.$colorTextSecondary;
  }

  &:hover,
  &.hover {
    input {
      border-color: c.$colorPrimary;
    }
    .inputIcon {
      color: c.$colorPrimary;
    }
  }

  &:focus-within,
  &.focus {
    .inputIcon {
      color: c.$colorPrimary;
    }
  }

  &.disabled {
    input {
      color: c.$colorTextSecondary;
      background-color: c.$colorNeutral;
      border-color: c.$colorNeutralLight;
    }
  }

  &.hasError {
    input {
      border-color: c.$colorError;
    }

    .inputIcon {
      color: c.$colorError;
    }
  }

  // :focus-within is not supported by IE11
  // This way in IE11 the color of .inputIcon will not change, but it is an acceptable degradation
  input:focus {
    @include h.outlineFormField;
  }
  &.focus {
    input {
      @include h.outlineFormField;
    }
  }
}
