@import '../styles/constants/index';

@mixin inputFocus {
  border-color: $colorPrimary;
  border-width: $outlineWidth;
}

$inputHeight: $grid * 10;
$paddingLeftWithIcon: $grid * 8;

.container {
  @include typographyBodyNormal;

  box-sizing: border-box;
  margin: 0;
  position: relative;

  .inputBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .inputContainer {
    position: relative;
    flex: 1;
  }

  .errorContainer {
    margin-top: $grid;
  }

  .helperText {
    margin-left: $grid;
    display: block;
  }

  .inputIcon {
    position: absolute;
    top: 50%;
    // $grid * 9 / 2 is half of the padding. We need to shift it to the left just a bit to account for the border width
    transform: translate(-50%, -50%) translateX($outlineWidth);
    left: $paddingLeftWithIcon / 2;
  }

  input {
    display: block;
    padding: 0 $grid * 3;
    border-width: $borderWidth;
    border-color: $colorNeutralLight;
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    height: $inputHeight;
    border-radius: $borderRadius;
    background-color: $colorNeutralLighter;
    outline: none;

    &::placeholder {
      color: $colorTextSecondary;
    }
  }

  &.withIcon {
    input {
      padding-left: $paddingLeftWithIcon;
    }
  }

  &.empty {
    color: $colorTextSecondary;
  }

  &.disabled {
    input {
      color: $colorTextSecondary;
      background-color: $colorNeutral;
    }
  }

  &.hasError {
    input {
      border-color: $colorError;
    }

    .inputIcon {
      color: $colorError;
    }
  }

  &:not(.disabled) {
    &:hover,
    &.hover {
      input {
        border-color: $colorPrimary;
      }
      .inputIcon {
        color: $colorPrimary;
      }
    }

    &:focus-within,
    &.focus {
      .inputIcon {
        color: $colorPrimary;
      }
    }
    // :focus-within is not supported by IE11
    // This way in IE11 the color of .inputIcon will not change, but it is an acceptable degradation
    input:focus {
      @include inputFocus;
    }
    &.focus {
      input {
        @include inputFocus;
      }
    }
  }
}
