@use '../styles/constants' as c;

.toast {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: c.$borderRadiusToast;
  max-width: c.$toastMaxWidth;
  padding: c.$grid * 1.5 c.$grid * 2.5;

  .icon {
    width: c.$grid * 6;
    height: c.$grid * 6;
    margin-right: c.$grid * 2.5;
  }

  .content {
    overflow-wrap: break-word;
  }

  .close {
    margin-left: c.$grid * 2.5;

    .closeIcon {
      width: c.$grid * 6;
      height: c.$grid * 6;
    }
  }

  &.success {
    background-color: c.$colorSuccess;
    color: c.$colorNeutralWhite;

    .closeIcon {
      color: c.$colorNeutralWhite;
    }
  }

  &.info {
    background-color: c.$colorInfoLight;
    color: c.$colorText;

    .icon {
      color: c.$colorInfoDark;
    }

    .closeIcon {
      color: c.$colorText;
    }
  }

  &.warning {
    background-color: c.$colorWarningLight;
    color: c.$colorText;

    .icon {
      color: c.$colorWarningDark;
    }

    .closeIcon {
      color: c.$colorText;
    }
  }

  &.critical {
    background-color: c.$colorError;
    color: c.$colorNeutralWhite;

    .closeIcon {
      color: c.$colorNeutralWhite;
    }
  }
}
