@use '../styles/constants' as c;

$borderRadiusToast: 37px;

.toast {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: $borderRadiusToast;
  font-size: c.$fontSizeBodyNormal;
  letter-spacing: c.$letterSpacingBodyNormal;
  line-height: c.$lineHeightBodyNormal;
  height: c.$grid * 9;
  padding: 0 c.$grid * 2.5;

  .icon {
    width: c.$grid * 6;
    height: c.$grid * 6;
    margin-right: c.$grid * 2.5;
  }

  .close {
    margin-left: c.$grid * 2.5;
  }

  &.success {
    background-color: c.$colorSuccess;

    .icon {
      color: c.$colorNeutralWhite;
    }

    .content {
      color: c.$colorNeutralWhite;
    }
  }

  &.info {
    background-color: c.$colorInfoLight;

    .icon {
      color: c.$colorInfoDark;
    }

    .content {
      color: c.$colorBlack;
    }
  }

  &.warning {
    background-color: c.$colorWarningLight;

    .icon {
      color: c.$colorWarningDark;
    }

    .content {
      color: c.$colorBlack;
    }
  }

  &.critical {
    background-color: c.$colorError;

    .icon {
      color: c.$colorNeutralWhite;
    }

    .content {
      color: c.$colorNeutralWhite;
    }
  }
}
