@use '../styles/constants' as c;

.wrapper {
  max-width: c.$tooltipMaxWidth;
  word-wrap: break-word;
}

.overlay {
  // TODO: Update colors. Ask Pawel.
  color: #fff;

  :global .rc-tooltip-inner {
    background-color: black;
  }

  &.rc-tooltip-placement-bottom {
    :global .rc-tooltip-arrow {
      border-bottom-color: black;
    }
  }
  &.rc-tooltip-placement-top {
    :global .rc-tooltip-arrow {
      border-top-color: black;
    }
  }
}
