@use '../../styles/constants' as c;

.root {
  background: c.$brandSecondary;
  color: c.$colorNeutralLighter;
  display: flex;
  align-items: center;
  height: 59px;
  box-sizing: border-box;
  flex-direction: row;
  font-size: c.$fontSizeBodySmall;
  width: 100%;
  padding: 0 c.$grid * 5;
  overflow-x: auto;
  flex-shrink: 0;
  gap: c.$grid * 5;
}

.name {
  color: c.$brandPrimary;
  font-weight: 600;
}

.aside {
  margin-left: auto;
}
