@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/UbuntuMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/UbuntuMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/UbuntuMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/UbuntuMono-BoldItalic.woff2') format('woff2');
}
