@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/UbuntuMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/UbuntuMono-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/UbuntuMono-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/UbuntuMono-BoldItalic.ttf') format('ttf');
}
