.button {
  margin-right: 10px;
  margin-top: 10px;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & button {
    margin-bottom: 12px;
  }
}
