@use '../../styles/constants' as c;

.badge {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: c.$grid * 0.5 c.$grid * 2;

  .content {
    margin-left: c.$grid;
    @include c.typographyBodySmall;
  }

  &.neutral {
    background-color: lab(from var(--hive-color-text-secondary) 97% a b);
    color: var(--hive-color-text-secondary);
    border: 1px solid var(--hive-color-text-secondary);
  }

  &.success {
    background-color: lab(from var(--hive-color-success-darkest) 95% a b);
    color: var(--hive-color-success-darkest);
    border: 1px solid var(--hive-color-success-darkest);
  }

  &.info {
    background-color: lab(from var(--hive-color-info-darkest) 95% a b);
    color: var(--hive-color-info-darkest);
    border: 1px solid var(--hive-color-info-darkest);
  }

  &.warning {
    background-color: lab(from var(--hive-color-warning-darkest) 95% a b);
    color: var(--hive-color-warning-darkest);
    border: 1px solid var(--hive-color-warning-darkest);
  }

  &.critical {
    background-color: lab(from var(--hive-color-error) 95% a b);
    color: var(--hive-color-error);
    border: 1px solid var(--hive-color-error);
  }
}
