.container {
  position: relative;

  .backgroundOuterCircle {
    fill: none;
    stroke: var(--hive-color-neutral-light);
    stroke-linecap: round;
  }

  .backgroundInnerCircle {
    fill: none;
    stroke: var(--hive-color-neutral-lighter);
    stroke-linecap: round;
  }

  .progressCircle {
    fill: none;
    stroke: var(--hive-color-success);
    stroke-linecap: round;
    transition: stroke-dashoffset 750ms ease-in-out;
  }

  .indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hive-color-text-secondary);
    font-weight: var(--hive-font-weight-heading-regular);
    font-size: var(--hive-font-size-h2);
    letter-spacing: var(--hive-letter-spacing-h2);
    line-height: var(--hive-line-height-h2);
  }
}
