@use '../../styles/constants' as c;

.container {
  position: relative;

  .backgroundOuterCircle {
    fill: none;
    stroke: c.$colorNeutralLight;
    stroke-linecap: round;
  }

  .backgroundInnerCircle {
    fill: none;
    stroke: c.$colorNeutralLighter;
    stroke-linecap: round;
  }

  .progressCircle {
    fill: none;
    stroke: c.$colorSuccess;
    stroke-linecap: round;
    transition: stroke-dashoffset 750ms ease-in-out;
  }

  .indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: c.$colorTextSecondary;

    @include c.typographyH2;
  }
}
