@use '../../styles/constants' as c;

.notification {
  display: flex;
  align-items: flex-start;
  padding: c.$grid * 2 c.$grid * 3;
  border-radius: c.$borderRadiusNotification;

  @include c.typographyBodySmall;

  .icon {
    flex: 0 0 auto;
    margin-right: c.$grid * 2;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    /*
     * Note:
     * The (min)height is equal to corresponding icon height. Necessary due to 'flex-start' alignment and
     * specific alignment differences between single-line and multi-line text content.
     */
    min-height: c.$grid * 6;
  }

  .link {
    // Note: The (min)height is equal to corresponding icon height. Necessary due to 'flex-start' alignment.
    min-height: c.$grid * 6;

    // TODO: Improvisation. Consult with @pawel.
    margin-left: c.$grid * 2;

    @include c.typographyBodyWeight('bold');
  }

  .closeButton {
    margin-left: c.$grid * 3;
  }

  /* Theme - success */
  &.success {
    color: c.$colorText;
    background-color: c.$colorSuccessLight;

    .icon {
      color: c.$colorText;
    }

    .link {
      color: c.$colorText;
    }
  }

  /* Theme - info */
  &.info {
    color: c.$colorText;
    background-color: c.$colorInfoLight;

    .icon {
      color: c.$colorInfoDark;
    }

    .link {
      color: c.$colorInfoDark;
    }
  }

  /* Theme - warning */
  &.warning {
    color: c.$colorText;
    background-color: c.$colorWarningLight;

    .icon {
      color: c.$colorText;
    }

    .link {
      color: c.$colorText;
    }
  }

  /* Theme - error */
  &.error {
    color: c.$colorText;
    background-color: c.$colorErrorLight;

    .icon {
      color: c.$colorText;
    }

    .link {
      color: c.$colorText;
    }
  }
}
