.numberBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--hive-border-radius-badge);
  padding: 0 calc(var(--hive-grid) * 1.25);
  background-color: var(--hive-color-neutral);
  color: var(--hive-color-text);
  font-family: var(--hive-font-family-text);
  font-size: var(--hive-font-size-body-small);
  letter-spacing: var(--hive-letter-spacing-body-small);
  line-height: var(--hive-line-height-body-small);
  font-weight: var(--hive-font-weight-text-regular);
}
