.inputContainer {
  position: relative;

  > input {
    padding-right: 0;
    margin-right: calc(var(--hive-icon-size-small) + var(--hive-grid) * 4);
  }

  .toggle {
    --button-size: calc(var(--hive-grid) * 6);

    position: absolute;
    right: calc(var(--hive-grid) * 2);
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--hive-border-radius-pill);
  }

  &.withoutToggle {
    > input {
      margin-right: 0;
    }
  }
}
