@use 'sass:math';
@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

.tooltipSr {
  @include h.visuallyHidden;
}

$tooltipArrowSize1-3: math.div(c.$tooltipArrowSize, 3);
$tooltipArrowSize2-3: math.div(c.$tooltipArrowSize, 3) * 2;

@mixin arrow($position, $color, $borderColor) {
  @if $position == bottom {
    > .arrow {
      top: 0;

      &::before,
      &::after {
        border-left: c.$tooltipArrowSize solid transparent;
        border-right: c.$tooltipArrowSize solid transparent;
        top: 0;
        left: 50%;
        margin-left: -(c.$tooltipArrowSize);
      }

      &::before {
        border-bottom: c.$tooltipArrowSize solid $color;
        margin-top: -(c.$tooltipArrowSize);
      }

      &::after {
        border-bottom: c.$tooltipArrowSize solid $borderColor;
        transform: translateY(-($tooltipArrowSize2-3));
      }
    }
  } @else if $position == right {
    > .arrow {
      left: 0;

      &::before,
      &::after {
        border-top: c.$tooltipArrowSize solid transparent;
        border-bottom: c.$tooltipArrowSize solid transparent;
        top: 50%;
        left: 0;
        margin-top: -(c.$tooltipArrowSize);
      }

      &::before {
        border-right: c.$tooltipArrowSize solid $color;
        margin-left: -(c.$tooltipArrowSize);
      }

      &::after {
        border-right: c.$tooltipArrowSize solid $borderColor;
        transform: translateX(-($tooltipArrowSize2-3));
      }
    }
  } @else if $position == left {
    > .arrow {
      right: 0;

      &::before,
      &::after {
        border-top: c.$tooltipArrowSize solid transparent;
        border-bottom: c.$tooltipArrowSize solid transparent;
        top: 50%;
        left: 100%;
        margin-top: -(c.$tooltipArrowSize);
      }

      &::before {
        border-left: c.$tooltipArrowSize solid $color;
      }

      &::after {
        border-left: c.$tooltipArrowSize solid $borderColor;
        transform: translateX(-($tooltipArrowSize1-3));
      }
    }
  } @else {
    > .arrow {
      bottom: 0;

      &::before,
      &::after {
        border-left: c.$tooltipArrowSize solid transparent;
        border-right: c.$tooltipArrowSize solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -(c.$tooltipArrowSize);
      }

      &::before {
        border-top: c.$tooltipArrowSize solid $color;
      }

      &::after {
        border-top: c.$tooltipArrowSize solid $borderColor;
        transform: translateY(-($tooltipArrowSize1-3));
      }
    }
  }
}

@mixin arrowPlacements($color: c.$colorNeutralLight, $borderColor: c.$colorNeutralLighter) {
  &[data-popper-placement^='top'] {
    @include arrow(top, $color, $borderColor);
  }

  &[data-popper-placement^='right'] {
    @include arrow(right, $color, $borderColor);
  }

  &[data-popper-placement^='bottom'] {
    @include arrow(bottom, $color, $borderColor);
  }

  &[data-popper-placement^='left'] {
    @include arrow(left, $color, $borderColor);
  }
}

.overlay {
  @include c.typographyBodySmall;

  position: relative;
  max-width: c.$tooltipMaxWidth;
  padding: c.$grid * 3;
  background: c.$colorNeutralLighter;
  border: c.$borderWidth solid c.$colorNeutralLight;
  border-radius: c.$borderRadius;
  color: c.$colorText;
  word-break: break-all;

  &.hidden {
    visibility: hidden;

    // important is needed to override inline style
    top: -99999px !important;
    left: -99999px !important;
  }

  &.secondary {
    border: none;
    color: c.$colorNeutralWhite;
    background-color: c.$colorTextSubdued;

    @include arrowPlacements(c.$colorTextSubdued, transparent);
  }

  &.dark {
    border: none;
    color: c.$colorBrandText;
    background-color: c.$colorBrandAccent;

    @include arrowPlacements(c.$colorBrandAccent, transparent);
  }

  > .arrow {
    position: absolute;
    z-index: c.$zIndex100;
    display: block;
    width: c.$tooltipArrowSize;
    height: c.$tooltipArrowSize;

    &::before,
    &::after {
      content: '';
      position: absolute;
    }
  }

  @include arrowPlacements;
}
