@use '../../styles/constants' as c;
@use '../../styles/helpers' as h;

$selectHorizontalPadding: c.$grid * 3;

.chevron {
  color: c.$colorPrimary;
  margin-left: $selectHorizontalPadding;
  transition: 0s;

  &.open {
    transform: rotate(180deg);
  }

  &.disabled {
    transition: 0s;
    color: c.$colorTextSecondary;
  }
}

.clear {
  margin-left: $selectHorizontalPadding;
}

.option {
  height: c.$inputHeight;
  line-height: c.$inputHeight;
  padding: 0 $selectHorizontalPadding;
  background-color: transparent;

  // Do not remove outline for high-contrast modes
  // https://stackoverflow.com/a/52616313
  outline: c.$outlineWidth solid transparent;
  text-align: left;
  cursor: pointer;

  @include c.typographyBodySmall;

  &.small {
    height: c.$inputHeightSmall;
    line-height: c.$inputHeightSmall;
  }

  &.focused {
    @include h.outlineSimple;

    color: c.$colorText;
    background-color: c.$colorNeutral;
  }

  &.selected {
    color: red;

    // color: c.$colorPrimary;
  }
}

[class].valueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .trailingNote {
    flex-shrink: 0;
    color: c.$colorTextSecondary;
    margin-left: c.$grid * 2;
  }
}
