@use '../../../styles/constants' as c;

.root {
  position: relative;
  color: c.$colorNeutralLighter;
  display: flex;
  flex-direction: column;

  &.nested {
    padding-left: c.$grid * 10;

    .button {
      color: c.$colorNeutralLight;
    }
  }

  .favorite {
    display: none;
  }

  .status {
    display: inline-flex;
    width: c.$grid * 4;
    height: c.$grid * 4;
    border-radius: 50%;
    background-color: c.$colorError;

    &.available {
      background-color: c.$colorSuccess;
    }
  }

  &.collapsed {
    .status {
      width: c.$grid * 2;
      height: c.$grid * 2;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:hover,
  &:active {
    color: inherit;

    .favorite {
      display: block;
    }
  }
}

[class].button {
  overflow: hidden;
  width: 100%;
  height: c.$grid * 12;
  text-decoration: none;
  text-align: left;
  padding: c.$grid c.$grid * 3.5;
  border-radius: c.$borderRadius;

  .icon {
    color: c.$colorNeutralLight;
  }

  &:hover,
  &.active {
    text-decoration: none;
    color: c.$colorBrandText;
    background-color: c.$colorBrandAccent;

    .icon {
      color: c.$colorBrandText;
    }
  }

  .content {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    gap: c.$grid * 4;
    justify-content: left;
  }

  .adornment {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: c.$grid * 2;
  }
}
