@use '../constants' as c;

@mixin textGradient() {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradientLime($angle: 270deg) {
  background: linear-gradient($angle, c.$colorBrandPrimary, #00b8b8);
}

@mixin textGradientLime($angle: 0deg) {
  @include gradientLime($angle);
  @include textGradient;
}

@mixin gradientOcean($angle: 171deg) {
  background: linear-gradient($angle, c.$colorText 0%, #116884 89%);
}

@mixin textGradientOcean($angle: 0deg) {
  @include gradientOcean($angle);
  @include textGradient;
}

@mixin gradientSea($angle: 270deg) {
  background: linear-gradient($angle, #0c6f8e, #08d1d1);
}

@mixin textGradientSea($angle: 0deg) {
  @include gradientSea($angle);
  @include textGradient;
}

@mixin gradientCitrus($angle: 90deg) {
  background: linear-gradient($angle, c.$colorBrandRaspberry, c.$colorBrandCarrot);
}

@mixin textGradientCitrus($angle: 0deg) {
  @include gradientCitrus($angle);
  @include textGradient;
}
