@use '../constants' as c;

@mixin gradientLime {
  background: c.$colorCustom4;
  background: linear-gradient(270deg, c.$colorCustom4 0%, #00b8b8 100%);
}

@mixin gradientOcean {
  background: c.$colorCustom7;
  background: linear-gradient(270deg, c.$colorCustom7 0%, #1b2939 100%);
}
