.wrapperCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderSmallThumb::-webkit-slider-thumb {
  // this should never be possible to override, this is only for storybook purpose - visual regression testing
  opacity: 0.5 !important;
}
