@use '../styles/constants' as c;

.wrapperCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalWrapper {
  width: 100%;
  height: 500px;
}

.modal {
  /* doiuse-disable calc */
  width: calc(#{c.$modalWidth} - 200px);
  /* doiuse-enable calc */
}

.sliderSmallThumb::-webkit-slider-thumb {
  // this should never be possible to override, this is only for storybook purpose - visual regression testing
  opacity: 0.5 !important;
}
.typographyBodySmall {
  @include c.typographyBodySmall;
}

.toggles > *:not(:last-child) {
  margin-bottom: c.$grid * 3;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.customTableFooter {
  [role="cell"] {
    font-style: italic;
  }
}

.customTableContent {
  [role="row"]:nth-child(odd) {
    [role="cell"] {
      background: #ccc;
    }
  }
}

.customTableHeader {
  [role="columnheader"] {
    background: lightblue;

    span {
      color: #000;
    }
  }
}
