@use '../styles/constants' as c;

.wrapperCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalWrapper {
  width: 100%;
  height: 100px;
}

.modal {
  width: calc(#{c.$modalWidth} - 200px);
}

.modalChildrenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
