@import './constants/index.scss';

html {
  // 100vw - 100% = width of the sidebar
  /* doiuse-disable calc */
  min-width: calc($screenMinWidth - 100vw + 100%);
  /* doiuse-enable calc */
  overflow-x: auto;
  font-family: $fontFamily, sans-serif;
  color: $colorBodyPrimary;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}
