@use '../../styles/constants' as c;

$width: 264px;
$collapsedWidth: 74px;
$offset: c.$grid * 4;

.root {
  width: $width;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  color: c.$colorNeutralLighter;
  background: c.$brandSecondary;
  transition: 200ms width;

  * {
    box-sizing: border-box;
  }

  .toggle {
    color: #1ee6fa;
    position: absolute;
    right: -#{c.$grid * 3};
    top: 0;
    z-index: c.$zIndex1000;
    border-radius: 50%;
    background: #0e3454;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content {
    width: 86%;
    margin: 0 auto;
    padding: $offset 0;
  }

  .footer {
    color: c.$colorNeutralLight;
    text-align: center;
    margin-top: auto;
    word-break: break-all;
    padding: 0 c.$grid * 4 c.$grid * 2.5;
    font-size: c.$fontSizeBodySmall;
  }

  &.collapsed {
    width: $collapsedWidth;

    .content {
      max-width: calc($collapsedWidth - $offset * 1.5);
    }

    .footer {
      padding: 0 c.$grid;
    }
  }
}
